@import 'variables';

//Gifos-create
.btn-gifos {
    display: none;
    cursor: pointer;
    width: 40px;
    margin-top: 10px;
    @media screen and (min-width: 1220px) {
       display: block;
    }
}
  
#main-gifo {
    display: none;
    @media screen and (min-width: 1220px) {
        display: block;
    }
}
  
@media screen and (min-width: 1220px) {
    #crear-gifo {
        width: 75%;
        height: 500px;
        display: flex;
        margin: auto;
    }
    
    .content-gifo-camera {
        display: flex;
        width: 60%;
        height: 500px;
        border: 1px solid $base-color-light;
        text-align: center;
        margin: auto;
        p {
            color: $text-color;
            margin-top: 20px;
            line-height: 30px;
        }
    }
  
    .create-card-container {
        margin: auto;
    }
    
    #videoWidget {
        margin-left: 60px;
        display: none;
    }
    
    #create-title {
        padding: 0;
    }
    
    .camera-img {
        margin-top: 200px;
    }
    
    .camera-light {
        margin-top: 220px;
    }
    
    .pelicula-img {
        margin-top: 460px;
        margin-left: 10px;
    }
    
    #numbers {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: 50px;
        margin-bottom: 10px;
    }
    
    .numbers {
        margin: 10px;
        width: 50px;
    }
    
    .long-bar {
        background-color: $base-color-light;
        height: 10px;
        width: 70%;
        border-radius: 5px;
        margin-left: 300px;
    }
    
    #camera-btn {
        height: 70px;
        margin-right: -10px;
    }
    
    #grabar-btn {
        display: none;
        height: 70px;
        margin-right: -10px;
    }
  
    #finalizar-btn {
        display: none;
        height: 70px;
        margin-right: -10px;
    }
  
    #subir-btn {
        display: none;
        height: 70px;
        margin-right: -10px;
    }
  
    #video-content {
        color: $base-color-light;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        margin-top: 530px;
        &:hover {
            cursor: pointer;
            text-decoration: underline $special-color;
        }
    }
}
  