@import 'variables';

body.dark {
    background-color: $bg-color-dark;
    border-top: $text-color 5px solid;
    border-bottom: $text-color 5px solid;
}
  
body.dark footer {
    background-color: $bg-color-dark;
}
  
body.dark .text {
    color: $bg-color-light;
}
  
#trending.dark-bg {
    background-color: $trending-bg-color-dark;
}
  
#input-ctn.dark-border #search {
    background: $bg-color-dark;
    border: 1px solid $bg-color-light;
}