/* Pages */
.favoritos {
    margin-bottom: 40px;
}
  
.fav-icons {
    display: flex;
    justify-content: center;
    text-align: center;
}
  
.fav-btn {
    border: none;
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
    margin-top: 100px;
    text-align: center;
}
  
.fav-images {
    padding: 0 30px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (min-width: 1220px) {
        grid-template-columns: repeat(4, 1fr);
    }
    img {
        width: 125px;
    }
}
