@import 'variables';

footer {
    font-size: 15px;
    font-family: "Roboto Regular";
    text-align: center;
    height: 160px;
    @media screen and (min-width: 1220px) {
            ul{
                width: 35%;
                float: left;
                margin: auto;
                height: 120px;
                padding-top: 35px;
                // display: flex;
                //letter-spacing: 0;
                // padding-top: 65px;
                li {
                    list-style: none;
                    display: inline-block;
                }
                a {
                    padding: 12px 12px;
                }
                p{
                    display: inline-block;
                }
                
            }
            span {
                width: 35%;
                margin: auto;
                height: 120px;
                float: right;
                padding-top: 35px;
                li {
                    list-style: none;
                    display: inline-block;
                }
            }
            
        }

}

@media screen and (min-width: 477px) {
        ul{
            width: 100%;
            margin: auto;
            height: auto;
            // display: flex;
            //letter-spacing: 0;
            // padding-top: 65px;
            li {
                list-style: none;
                display: inline-block;
            }
            p{
                padding-top: 35px;
                padding-bottom: 20px;
            }
            a {
                padding: 12px 12px;
            }
        }
        span {
            width: 100%;
            margin: auto;
            height: auto;
            li {
                list-style: none;
                display: inline-block;
                padding-top: 30px;
            }
        }
    }



