@import 'variables';

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 105%;
    height: auto;
    margin: auto;
    border-top: $base-color-light 5px solid;
    border-bottom: $base-color-light 5px solid;
}

main {
    color: $base-color-light;
}