@import 'variables';
 
#home {
    width: 100%;
    margin: auto;
    @media screen and (min-width: 1220px) {
      padding: 0 100px;
      margin-top: 50px;
    }
}
  
/*H1-TITULO*/
h1 {
    width: 65%;
    margin: auto;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: $base-color-light; 
    @media screen and (min-width: 1220px) {
        padding: 0 100px;
        margin-top: 50px;
      }
    span {
        color: $special-color; 
    }
}

#title {
    width: 100%;
    margin: auto;
        @media screen and (min-width: 447px) {
        font-size: 20px;
        margin: auto;
        line-height: 50px;
        text-align: center;
        color: $base-color-light; 
        
    }
}
  
/*IMAGEN*/
.main-image {
        display: flex;
        justify-content: center;
    img {
        width: 400px;
        height: 100%;
        margin-top: 30px;
        @media screen and (min-width: 1220px) {
            height: 190px;
        }
        @media screen and (min-width: 477px) {
            width: 70%;
        }
    }
}
  