@import 'variables';

//LOGO MOBILE AND DESKTOP

  
/* DESKTOP */
#logo-desktop {
    display: none;
    :hover {
        cursor: pointer;
    }
    @media screen and (min-width: 1220px) {
        display: block;
        
    }
}
  
/* MOBILE */
#logo-mobile {
    display: block;
    padding: 15px 25px;
    @media screen and (min-width: 1220px) {
        display: none;
    }
    
}

  
  /* CREAR GIFO */
.create-gifo-btn {
    display: none;
    @media screen and (min-width: 1220px) {
        display: block;
        cursor: pointer;
    }
}
  
  
/* MENU */
.menu {
    ul {
        position: absolute;
        top: 85px;
        left: 0px;
        text-align: center;
        overflow: hidden;
        list-style: none;
        background: $base-color-light;
        opacity: 90%;
        height: 0;
        align-items: center;
        @media screen and (min-width: 1220px) {
            top: 0;
            overflow: hidden;
            background: unset;
            height: unset;
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
            margin-top: 10px;
            padding-left: 20px;
            padding: 0px 100px;
        }
        
    }
    li {
        position: relative;
        color: $bg-color-light;
        font-family:'Montserrat';
        font-size: 13px;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }
    @media screen and (min-width: 477px) {
        display: block;
        padding: 25px 320px;
    }
}
  
.menu-item {
    text-decoration: none;
    color: $bg-color-light;
    line-height: 28px;
    font-size: 16px;
    text-align: center;
    @media screen and (min-width: 1220px) {
        color: $base-color-light;
        &:hover {
            cursor: pointer;
            border-bottom: 2px solid $special-color;
        }
    }
}
  
.active {
    color: $bg-color-gray;
}
  
  /* HUMBURGER */
.bars {
    display: block;
    height: 2px;
    margin-bottom: 6.5px;
    margin-right: 10px;
    position: relative;
    background: $base-color-light;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.5s ease, 
    opacity 0.55s ease;
    &:first-child {
        transform-origin: 0% 0%;
    }
    &:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    @media screen and (min-width: 1220px) {
        display: none;
    }
    @media screen and (min-width: 477px) {
        margin-right: 20px;
    }
}
  
/* checkbox style */
.button {
    display: block;
    width: 15px;
    height: 40px;
    opacity: 0;
    z-index: 2;
    position: absolute;
    &:hover {
        cursor: pointer;
    }
    &:checked ~ ul {
        height: 100%;
        margin: auto;
        transition: height 0.5s ease-in-out;
    }
    &:checked ~ span {
        width: 100%;
        opacity: 1;
        transform: rotate(60deg) translate(2px, 1px);
        &:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        &:nth-last-child(2) {
            transform: rotate(-60deg) translate(1px, 0px);
        }
    }
    @media screen and (min-width: 1220px) {
        display: none;
    }
}
  