@import 'variables';

//***Search bar

.grid-fluid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 200px);
    grid-gap: 1rem;
    @media screen and (min-width: 1220px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 200px);
      grid-gap: 1rem;
    }
}
  
#gif-section {
    width: 100%;
}
  
#search-gif {
    width: 100%;
    height: 100%;
}
  
#query-title {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-right: 480px;
}
  
.loader {
    display: block;
    margin: auto;
}
  
#input-ctn {
    justify-content: center;
    display: flex;
    @media screen and (min-width: 1220px) {
        width: 100%;
        margin: auto;
    }
    @media screen and (min-width: 477px) {
        width: 80%;
        margin: auto;
    }
   
}

#search-result {
    position: absolute;
    margin-top: 30px;
    margin-left: 450px;
    cursor: pointer;
    
}

#search-icon{
    @media screen and (min-width: 1220px) {
        display: block;
        margin-top: 10px;
        margin-left: 50px;
        cursor: pointer;
    }
    @media screen and (min-width: 447px) {
        // display: block;
        // margin-top: 15px;
        // margin-left: 50px;
        // cursor: pointer;
        display: none;
    }
}
#search-icon-mobile{
    // @media screen and (min-width: 1220px) {
    //     display: block;
    //     margin-top: 10px;
    //     margin-left: 80px;
    //     cursor: pointer;
    // }
    @media screen and (min-width: 447px) {
        display: block;
        margin-top: 15px;
        margin-left: 50px;
        cursor: pointer;
    }
}

#search {
    width: 500px;
    height: 50px;
    border: 1px solid #572EE5;
    border-radius: 27px;
    padding: 0 10px;
    cursor: text;
    outline: none;
    padding-left: 50px;
    font-size: 15px;
    @media screen and (min-width: 1220px) {
      width: 551px;
    }
    
}
::placeholder {
    color: #9CAFC3;
}
  
.main-text {
    padding: 50px 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    @media screen and (min-width: 477px) {
        width: 60%;
        margin: auto;
    }
}
  
#ver-mas-gifos {
    display: none;
}
  
#close-search-btn {
    display: none;
}
  