$bg-color-light: #FFFFFF;
$bg-color-dark: #37383C;

$base-color-light: #572EE5;

$special-color: #50E3C2;

$trending-bg-color: #F3F5F8;
$trending-bg-color-dark: #222326;

$text-color: #000000;

$bg-color-gray: gray;
$bg-color-violet: violet;